<?xml version="1.0"?>
<model>
  <name>pine_tree</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Ace Viray</name>
    <email>ace.viray@student.uts.edu.au</email>
  </author>

  <description>
    Pine Tree model using 2 planes, made in Blender
    https://www.cleanpng.com/png-pine-tree-tall-green-pine-tree-on-dark-background-8024431/download-png.html
  </description>
</model>
