<?xml version="1.0"?>
<model>
  <name>lowpolytree_1</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Ace Viray</name>
    <email>ace.viray@student.uts.edu.au</email>
  </author>

  <description>
    A low-poly tree (type 1).
    https://free3d.com/3d-model/low-poly-cartoon-pine-christmas-tree-47325.html
  </description>
</model>
