<?xml version="1.0"?>
<model>
  <name>boulder_1</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Ace Viray</name>
    <email>ace.viray@student.uts.edu.au</email>
  </author>

  <description>
    A low-poly boulder (type 1).
    https://free3d.com/3d-model/low-poly-rock-for-games-9753.html
  </description>
</model>
